## Question 1

In [2]:
a=0
def b():
    global a
    a=c(a)
    print(a)

def c(a):
    return a+2

In [20]:
b()

2

In [21]:
b()

4

In [22]:
b()

6

In [23]:
a

6


1. `a = 0`: This line initializes a global variable named `a` with an initial value of 0. 

2. `def b():`: This defines a function called `b`.

3. `global a`: Inside the `b` function, the `global` keyword is used to declare that the function intends to modify the global variable `a`.

4. `a = c(a)`: Inside the `b` function, this line invokes the function `c` and assigns the result of `c(a)` to the global variable `a`.

5. `def c(a):`: This defines a function named `c` that takes a parameter `a`.

6. `return a + 2`: Inside the `c` function, it takes the input `a`, adds 2 to it, and returns the result.

Now, let's analyze the behavior when the provided commands are executed:

1. `b()`: The `b` function is called, which, in turn, calls the `c` function with the current value of `a` (initially 0), adds 2 to it, and assigns the resulting value (2) back to the global variable `a`.

2. `b()`: The `b` function is called again, and similarly, the `c` function is invoked with the current value of `a` (2). It adds 2 to it and assigns the new result (4) to the global variable `a`.

3. `b()`: Once more, the `b` function is called, invoking the `c` function with the current value of `a` (4), adding 2 to it, and assigning the updated result (6) to the global variable `a`.

So, by repeatedly calling the function `b()`, the global variable `a` acts as a counter that increments by 2 each time the function is called. Therefore, when you evaluate `a`, it will display the current value of the global variable, which is 6. In a professional context, this code illustrates how a global variable can be modified within a function, serving as a counter that increments by a specific value with each function call.

## Question 2

In [36]:
def fileLength(fileName):
    try:
        with open(fileName, 'r') as file:
            content_of_file = file.read()
            length_of_file = len(content_of_file)
            print(length_of_file)
    except FileNotFoundError:
        print(f"File {fileName} not found.")
    except Exception as e:
        print(f"An error occurred: {str(e)}")

fileLength('Filelength.txt')
fileLength('Filelength1.txt')

123
File Filelength1.txt not found.

## Question 3

In [37]:
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch

class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x},{self.y})"

# Example usage:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())

k = Kangaroo(0, 0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)

['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

## Question 4

In [38]:
def collatz(x):
    if x == 1:
        return x
    else:
        print(x)
        if (x % 2 == 0):
            return collatz(x//2)
        else:
            return collatz(3*x+1)

In [39]:
collatz(1)

1

In [40]:
collatz(10)

10
5
16
8
4
2

1

## Question 5

In [41]:
def binary(n):
    if n > 1:  #  base condition
        binary(n // 2)
    print(n % 2, end='')

In [42]:
binary(0)

0

In [43]:
binary(1)

1

In [44]:
binary(3)

11

In [45]:
binary(9)

1001

## Question 6

Write SQL queries on the below database table that return: 

a) All the temperature data. <br>
b) All the cities, but without repetition.<br> 
c) All the records for India. <br>
d) All the Fall records.<br>
e) The city, country, and season for which the average rainfall is between 200 
and 400 millimeters. <br>
f) The city and country for which the average Fall temperature is above 20 
degrees, in increasing temperature order. <br> 
g) The total annual rainfall for Cairo. <br>
h) The total rainfall for each season.

In [46]:
import sqlite3

# Create a connection to the SQLite database (or create one if it doesn't exist)
conn = sqlite3.connect('Amit_Magar.db')

# Create a cursor object to interact with the database
cursor = conn.cursor()

cursor.execute("DROP TABLE IF EXISTS weather_data")

# Define the SQL CREATE TABLE statement to create the table
table = """CREATE TABLE weather_data (
    City TEXT,
    Country TEXT,
    Season TEXT,
    Temperature REAL,
    Rainfall REAL
);"""

cursor.execute(table)

# Define the SQL INSERT statement
weatherData = """
INSERT INTO weather_data (City, Country, Season, Temperature, Rainfall)
VALUES
  ('Mumbai', 'India', 'Winter', 24.8, 5.9),
  ('Mumbai', 'India', 'Spring', 28.4, 16.2),
  ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
  ('Mumbai', 'India', 'Fall', 27.6, 346.0),
  ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
  ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
  ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
  ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
  ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
  ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
  ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
  ('Cairo', 'Egypt', 'Fall', 22.2, 4.5);
"""

# Execute the INSERT statement
cursor.executescript(weatherData)

# Commit the changes to the database
conn.commit()

# Close the connection
conn.close()

In [47]:
# Create a connection to the SQLite database
conn = sqlite3.connect('Amit_Magar.db')

# Create a cursor object to interact with the database
cursor = conn.cursor()

cursor.execute("""Select * from weather_data """)

rows = cursor.fetchall()

for row in rows:
    print(row)

conn.close()

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Winter', 4.2, 207.7)
('London', 'United Kingdom', 'Spring', 8.3, 169.6)
('London', 'United Kingdom', 'Summer', 15.7, 157.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Winter', 13.6, 16.5)
('Cairo', 'Egypt', 'Spring', 20.7, 6.5)
('Cairo', 'Egypt', 'Summer', 27.7, 0.1)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [48]:
# Create a connection to the SQLite database
conn = sqlite3.connect('Amit_Magar.db')

# Create a cursor object to interact with the database
cursor_a = conn.cursor()
cursor_b = conn.cursor()
cursor_c = conn.cursor()
cursor_d = conn.cursor()
cursor_e = conn.cursor()
cursor_f = conn.cursor()
cursor_g = conn.cursor()
cursor_h = conn.cursor()


cursor_a.execute("""Select Temperature 
                    FROM weather_data
                 """)

cursor_b.execute("""SELECT DISTINCT City 
                    FROM weather_data
                 """)

cursor_c.execute("""SELECT * 
                    FROM weather_data 
                    WHERE Country = 'India'
                 """)

cursor_d.execute("""SELECT *  
                    FROM weather_data 
                    WHERE Season = 'Fall'
                 """)


cursor_e.execute("""SELECT City 
                          ,Country 
                          ,Season 
                    FROM weather_data
                    GROUP BY City, Country, Season 
                    HAVING AVG(Rainfall) BETWEEN 200 AND 400
                 """)

cursor_f.execute("""SELECT City
                          ,Country
                    FROM weather_data
                    WHERE Season = 'Fall'
                    GROUP BY City, Country
                    HAVING AVG(Temperature) > 20
                    ORDER BY AVG(Temperature) ASC
                 """)

cursor_g.execute("""SELECT SUM(Rainfall) AS TotalRainfall
                    FROM weather_data
                    WHERE City = 'Cairo'
                 """)

cursor_h.execute("""SELECT Season, SUM(Rainfall) AS TotalRainfall
                    FROM weather_data
                    GROUP BY Season
                """)


rows_a = cursor_a.fetchall()
rows_b = cursor_b.fetchall()
rows_c = cursor_c.fetchall()
rows_d = cursor_d.fetchall()
rows_e = cursor_e.fetchall()
rows_f = cursor_f.fetchall()
rows_g = cursor_g.fetchall()
rows_h = cursor_h.fetchall()

conn.close()

In [49]:
print("a. All the temperature data.\n")
for row in rows_a:
    print(row)

a. All the temperature data.

(24.8,)
(28.4,)
(27.9,)
(27.6,)
(4.2,)
(8.3,)
(15.7,)
(10.4,)
(13.6,)
(20.7,)
(27.7,)
(22.2,)

In [50]:
print("b. All the cities, but without repetition.\n")
for row in rows_b:
    print(row)

b. All the cities, but without repetition.

('Mumbai',)
('London',)
('Cairo',)

In [51]:
print("c. All the records for India.\n")
for row in rows_c:
    print(row)

c. All the records for India.

('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

In [52]:
print("d. All the Fall records.\n")
for row in rows_d:
    print(row)

d. All the Fall records.

('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

In [53]:
print("e. The city, country, and season for which the average rainfall is between 200 and 400 millimeters.\n")
for row in rows_e:
    print(row)

e. The city, country, and season for which the average rainfall is between 200 and 400 millimeters.

('London', 'United Kingdom', 'Fall')
('London', 'United Kingdom', 'Winter')
('Mumbai', 'India', 'Fall')

In [54]:
print("f. The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order\n")
for row in rows_f:
    print(row)

f. The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order

('Cairo', 'Egypt')
('Mumbai', 'India')

In [55]:
print("g. The total annual rainfall for Cairo\n")
for row in rows_g:
    print(row)

g. The total annual rainfall for Cairo

(27.6,)

In [56]:
print("h. The total rainfall for each season.\n")
for row in rows_h:
    print(row)

h. The total rainfall for each season.

('Fall', 569.0)
('Spring', 192.29999999999998)
('Summer', 1706.5)
('Winter', 230.1)

## Question 9

In [57]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [58]:
uppercase_words = [word.upper() for word in words]
print(f"a. {uppercase_words}")

a. ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [59]:
lowercase_words = [word.lower() for word in words]
print(f"b. {lowercase_words}")

b. ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [60]:
word_lengths = [len(word) for word in words]
print(f"c. {word_lengths}")

c. [3, 5, 5, 3, 5, 4, 3, 4, 3]

In [61]:
word_info = [[word.upper(), word.lower(), len(word)] for word in words]
print(f"d. {word_info}")

d. [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [62]:
long_words = [word for word in words if len(word) >= 4]
print(f"e. {long_words}")

e. ['quick', 'brown', 'jumps', 'over', 'lazy']